<style>
    body{
        background-color: black;
        color: white;
        font-family: cursive;
    }

    .caixota{
        margin-top: 20%;
        text-align: center;
    }

    .caixota2{
        margin-top: 22%;
        text-align: center;
    }
</style>

<div class="caixota">
    <h2>Agradecimentos especiais de: </h2>
    <h3>Gabriel Abdel</h3>
    <h3>Samuel Vieira</h3>
    <h3>Fernando Suzuki</h3>
</div>

<div class="caixota2">
    <a href="/">Voltar</a>
</div>