<%- include('./includes/head'); %>
<link rel="stylesheet" href="css/wwa.css">
<body>

    <%- include('./includes/nav'); %>

    <div class="container-fluid container-wwa">
      <div class="container-img">
        <img src="img/bagre.gif" width="200px">
        <h2 class="text-wwa">Gabriel Abdel Aziz Gonçalves</h2>
      </div>
      <div class="container-img">
        <img src="img/fernando.gif">
        <h2 class="text-wwa">Fernando Suzuki Mendes</h2>
      </div>
      <div class="container-img">
        <img src="img/samuel.gif">
        <h2 class="text-wwa">Samuel Vieira da Cunha Nahas</h2>
      </div>
    </div>
    
    <footer>
        <div class="card text-white bg-dark c-size-custom">
          <div class = "card-text pt-3">
            <a href="https://ifms.edu.br"><img src="img/marcaifms.png" width="4%"></a>
          </div>
          <div class="card-text pb-2">
            <p class="mb-0 p-h-custom">All rights reserved to Gabriel Abdel - 2022 ©</p>
          </div>
        </div>
    </footer>
    <%- include('./includes/scripts'); %>
</body>
</html>