<%- include('./includes/head'); %>
<link rel="stylesheet" href="css/wwa.css">
<body>

    <%- include('./includes/nav'); %>

    <div class="container-fluid container-wwa">
      <div class="container-img">
        <img src="img/bagre.gif" width="200px">
        <h2 class="text-wwa">Gabriel Abdel Aziz Gonçalves</h2>
      </div>
      <div class="container-img">
        <img src="img/fernando.gif">
        <h2 class="text-wwa">Fernando Suzuki Mendes</h2>
      </div>
      <div class="container-img">
        <img src="img/samuel.gif">
        <h2 class="text-wwa">Samuel Vieira da Cunha Nahas</h2>
      </div>
    </div>
    
    <%- include('./includes/footer'); %>
    
    <%- include('./includes/scripts'); %>
</body>
</html>