<%- include('./includes/head'); %>
<link rel="stylesheet" href="css/wwa.css">
<body>

    <%- include('./includes/nav'); %>

    <div class="contain">

    <div class="container-fluid container-wwa-fabio">
      <div class="container-img">
        <img src="img/fabio.jpeg" width="200px">
        <h2 class="text-wwa">Fabio Luiz Faria da Silva</h2>
        <p class="p-wwa">Professor do Instituto Federal de Mato Grosso do Sul, campus Campo 
          Grande, na disciplina de Desenvolvimento Web.</p>
      </div>
    </div>

    <div class="container-fluid container-wwa">
      <div class="container-img">
        <img src="img/bagre.gif" width="200px">
        <h2 class="text-wwa">Gabriel Abdel Aziz Gonçalves</h2>
        <p class="p-wwa">Estudante do 5° período do curso Técnico Integrado em
          Informática do Instituto Federal de Mato Grosso do Sul, campus Campo Grande.
        </p>
      </div>
      <div class="container-img">
        <img src="img/fernando.gif">
        <h2 class="text-wwa">Fernando Suzuki Mendes</h2>
        <p class="p-wwa">Estudante do 5° período do curso Técnico Integrado em
          Informática do Instituto Federal de Mato Grosso do Sul, campus Campo Grande.
        </p>
      </div>
      <div class="container-img">
        <img src="img/samuel.gif">
        <h2 class="text-wwa">Samuel Vieira da Cunha Nahas</h2>
        <p class="p-wwa">Estudante do 5° período do curso Técnico Integrado em
          Informática do Instituto Federal de Mato Grosso do Sul, campus Campo Grande.
        </p>
      </div>
    </div>
    
  </div>
  
    <%- include('./includes/footer'); %>
    
    <%- include('./includes/scripts'); %>
</body>
</html>