  <!-- Footer -->


  <footer id="footer">
    <div class="footer-content">
        <div class="socials">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>

    <div id="footer" class="footer">
        <a rel="nofollow" target="_blank" style="color:white">
            Feito com <span class="heart">❤</span> por Samuel Nahas, Gabriel Abdel e Fernando Suzuki</a>
    </div>

    <div class="footer-info">
        <ul class="footer-info-items">
            <li class="footer-info-item">Legal</li>
            <li class="footer-info-item">Centro de Privacidade</li>
            <li class="footer-info-item">Política de Privacidade</li>
            <li class="footer-info-item">Cookies</li>
            <li class="footer-info-item">Sobre Anúncios</li>
        </ul>
    </div>

    <div class="footer_copy">
      <a href="https://www.ifms.edu.br"><img class="img_footer" src="/img/marcaifms.png" alt=""></a>
      <small>&copy; Copyright 2022</small>
    </div>


</footer>